.navbar {
  border-bottom: 1px solid rgb(247, 242, 242);
}
/* #581845
#900C3F
#C70039
*/
.myNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.nav-items {
  width: 50%;
}
.item-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item-2 {
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav-item {
  color: darkcyan;
}
