.navbar {
  background-color: white;
}
/* #581845
#900C3F
#C70039
*/
.myNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.item-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}
.item-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65%;
}
.nav-item {
  color: gray;
}
.brand {
  color: #c70039;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logout-btn {
  background-color: rgba(238, 171, 46, 0.959);
  border: 0px;
  border-radius: 25px;
  font-weight: 600;
  padding: 2px 5px;
  color: white;
}
