.card-img-detail {
  height: 300px;
}
.pink1 {
  color: #c70039;
}
.yellow {
  color: rgb(255, 166, 0);
}
.deliver-btn {
  border: 1px solid #c70039;
  color: #c70039;
  background-color: white;
  font-weight: 600;
}
